@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100&family=Russo+One&display=swap");
.active {
  content: url(../public/akar-icons_circle.svg);
}

.nonactive {
  content: url(../public/Vector.svg);
}

.container {
  display: flex;
  align-items: center;
  min-height: 100vh;
  justify-content: center;
}

.input {
  height: 4.9rem;
  border: none;
  border-radius: 0.5rem;
  background-color: rgba(235, 239, 242, 1);
  width: 100%;
  margin-right: 1rem;
}

.backgroundpic {
  background-image: url(../public//Rectangle\ 2.png);
  background-repeat: no-repeat;
  border-radius: 23px 23px 0px 0px;
  height: 20rem;
  position: relative;
  background-position: center;
}
.subcontainer {
  width: 43rem;
}
.date {
  font-size: 4.8rem;
  font-family: "Russo One", sans-serif;
  color: aliceblue;
  right: 0;
  position: absolute;
  bottom: 0px;
}

.form {
  width: 100%;
  margin-top: 1rem;
  align-items: center;
  justify-content: center;
}
.inputsec {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.submitbutton {
  border: 0;
}
.input::placeholder {
  font-family: "Russo One", sans-serif;
  padding-left: 2rem;
}
.listtodo {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  font-size: 1.5rem;
  margin-top: 1.2rem;
}
.trashandactivity {
  display: flex;
}

.trash {
  margin-left: 2rem;
}
.time {
  font-family: "Outfit", sans-serif;
}
